
<div id="navbar" class="navbar-collapse collapse">

				<!-- <ul  class="nav navbar-nav"  >
					<li ><a href="#mainArea">Diplômes</a></li>
					<li ><a href="#aa">Expériences professionnelles</a></li>
					<li ><a href="#bb">Compétences,Centres d'intérêt et Langues</a></li>
					<li tyle="text-align:center"><a href="#cc">Projets Académiques</a></li>
				</ul> -->
<a href="https://www.facebook.com/amenallah.mefteh.29"><img  src="images/FB-logo-50-x-50.png" alt="" /></a>
<a href="https://twitter.com/AmenallahMefteh"><img src="images/Twitter_logo_blue_48.png" alt="" /></a>
<a href="https://tn.linkedin.com/in/amenallah-mefteh-2613a7a1"><img src="images/LinkedIn_logo.png" alt="" /></a>
<a href="http://www.viadeo.com/profile/002232vx0pgj6v86"><img src="images/viadeo_logo.png" alt="" /></a>

<!-- <img src="images/1.png" id="bg"></img> -->

</div>

<div id="cv">
<!--image -->
<div class="mainDetails">
	<div id="headshot" class="quickFade">
		<img src="images/headshot.jpg" alt="Amen Allah MEFTEH" />
	</div>
<!--Nom Prénom et Profession-->
	<div id="name">
		<h1 class="quickFade delayTwo">{{cvs.nom}}</h1>
		<h2 class="quickFade delayThree">{{cvs.titre}}</h2>
	</div>
<!--Information -->
	<div id="infoDetails">
		<ul>
			<li>Email : {{cvs.information.Email}}</li>
			<li>Adresse : {{cvs.information.Adresse}}</li>
			<li>Telephone : {{cvs.information.Tel}}</li>
		</ul>
	</div>
	<div class="clear"></div>

</div>
<!--informations sur le diplome -->
<div id="mainArea" class="quickFade delayFive">
	<section>
		<article>
			<div class="sectionTitle">
				<h1>Diplômes</h1>
			</div>
			<div class="sectionContent">
				<p>{{cvs.diplome.Diplome1}}</p>
			</div>
			<div class="sectionContent">
				<p>{{cvs.diplome.Diplome2}}</p>
			</div>
		</article>
		<div class="clear"></div>
	</section>

<!-- Informations sur les experiences professionelles-->
	<section>
		<div class="sectionTitle" id="aa">
			<h1>Experiences professionelles</h1>
		</div>

		<div class="sectionContent" >
				<article>
				<p>{{cvs.experience.experience5}}</p>
				</article>
				<article>
				<p><p>{{cvs.experience.experience1}}</p></p>
				 </article>
				<article>
				<p>{{cvs.experience.experience2}}</p> </article>
				<article>
					<p>{{cvs.experience.experience3}}</p> </article>
					<article>
					<p>{{cvs.experience.experience4}}</p> </article>
		</div>
		<div class="clear"></div>
	</section>

<!--informations sur les compétances-->
	<section>
		<div class="sectionTitle" id="bb">
			<!-- section pour les compétances -->
			<div class="row">
				<div class="col-md-6">
					<h1>Compétences</h1>

				<div class="sectionContent">
					<ul>
						<li ng-repeat="skill in cvs.skills">
							{{skill}}</li>
					</ul>
				</div>
			</div>
<!-- section pour les centres d'interet -->
<div class="col-md-6">
<h1>Centres d'intérêt</h1>
		<div class="sectionContent1">

			<ul>
				<li ng-repeat="centr in cvs.centre">
					{{centr}}</li>
			</ul>
		<h1> Langues</h1>
					<div class="sectionContent1">

						<ul>
							<li ng-repeat="lng in cvs.langue">
								{{lng}}</li>
						</ul>

	</div>
</div>
</div>
		<div class="clear"></div>
	</section>

<!-- Informations sur les projets académiques -->
	<section>
		<div class="sectionTitle" id="cc">
			<h1>Projets Academiques</h1>
		</div>

		<div class="sectionContent">
			<article>
				<p>{{cvs.projets.projet1}}</p>
			</article>

			<article>
			<p>{{cvs.projets.projet2}}</p>
			</article>
		</div>
		<div class="clear"></div>
	</section>

</div>
</div>
