

  <form name ='form1'>
    <div >
    <div class='form-group'>
      <p>Welcome : {{login}}</p>
      <label for='examplInputLogin'>Login</label>
      <input type='text' id="examplInputLogin"
      class="form-controller"  ng-model="login">
    </div>
    <div class='form-group'>
      <label for ='examplInputPw'>Password</label>
      <input type='password' class='form-controller'
      id='examplInputPw'  ng-model="password">
    </div>
    <button type="button" ng-click="sub()"> Se Connecter</button>
</div>
  </form>
